body {
  background-color: #b99b6b;
  text-align: center;
  font-family: monospace;
}
table {
  border-collapse: collapse;
  margin: 50px auto;
  background-color: #698269;
}
.bucketOne {
  background-color: rgb(78, 71, 71);
  width: 600px;
  height: 600px;
  position: relative;
  bottom: 700px;
  left: 150px;
  font-family: monaco;
  font-size: 90px;
  font-weight: 900;
  color: orange;
  padding: 50px;
}
.hidden {
  display: none;
}
td {
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #30e3df;
  font-size: 48px;
  font-weight: bold;
}
td:hover {
  background-color: gray;
}
.welcome {
  font-size: 30px;
  color: black;
  text-decoration-line: underline;
}
button {
  border-radius: 20px;
  background-color: #698269;
  border-color: black;
  color: orange;
  height: 40px;
  width: 90px;
  font-size: 20px;
}
button:hover {
  background-color: #aa5656;
}
.scores {
  display: inline-block;
  font-family: monaco;
  color: #698269;
  font-weight: bolder;
}
